<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="vendor/autoload.php" beStrictAboutOutputDuringTests="true" cacheResult="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" cacheDirectory=".phpunit.cache" requireCoverageMetadata="true" beStrictAboutCoverageMetadata="true">
  <testsuites>
    <testsuite name="Terrawind API wrapper Library Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="user" value="" force="true"/>
    <env name="password" value="" force="true"/>
  </php>
</phpunit>
